<!DOCTYPE html>
<html>
<head>
  <title>Library System</title>
</head>
<body>

<div class="containers mt-4">
  <h1>Available Books</h1>

  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @available_books.each do |book| %>
          <tr>
            <td><%= book.isbn %></td>
            <td><%= link_to book.title, book_path(book), class: "btn btn-info btn-sm" %></td>
            <td><%= book.author %></td>
            <td><%= book.description || "No description available" %></td>
            <td>
              <%= button_to "Borrow", borrow_book_path(book), method: :patch, class: "btn btn-success btn-sm shadow borrow-button", 
                  data: { book_title: book.title } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
